

<div id="modal" *ngIf="checkIfCorrect() === false && valueChoosedByUser !== ''">
  <h3>
    Oups ce n'est pas la bonne réponse :(
  </h3>
</div>

<div id="modal" *ngIf="checkIfCorrect() === true && valueChoosedByUser !== ''">
  <h3>
    Vous avez trouvez la bonne reponse + 10 points de crédit ;)
  </h3>
</div>

    <div class="container" *ngIf="valueChoosedByUser === ''">
      <div class="inner">

        <h2>{{selectedQuestions.question}}</h2>
          <ul class="simpleList">
            <!-- correct -->
            <li class="simpleListAnswer " *ngFor="let answer of selectedQuestions.answers" (click)="clickOnResponse(answer)">
              <!-- <input type="checkbox"  /> -->
              <span class="simpleListText">{{answer}}</span>
            </li>
          </ul><!--end simpleList-->

      </div><!--end inner-->
    </div><!--end container-->
