.container{
  font-family: 'Roboto', sans-serif;
	width: 100%;
}

.inner{
	width:60%;
	margin:0 auto;
}

ul{
	list-style-type: none;
	margin-left:-40px;
}

h2{
  margin-top:50px;
}
/*********************** LIST ***********************/

.simpleListAnswer:hover{
	background:#fff195;
	cursor:pointer;
}
.simpleListAnswer, .quizzAnswer{
	width: 100%;
	background:#f2f2f2;
	padding:9px;
	margin-top:12px;
	border:1px solid #d8d8d8;
}
.simpleListText{
	margin-left:8px;
	font-size: 19px;
	color: #3d3d3d;
}


#modal{
  font-family: 'Roboto', sans-serif;
  text-align: left;
  background: #f1f1f1;
  width: 80%;
  height: auto;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 3px;
}

#modal:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}
