<div class="container">

  <div *ngIf="listOfCard.length > 0; then arrayNotEmpty; else arrayEmpty">
  </div>

</div>


<ng-template #arrayEmpty>
  <h1>Vous n'avez pas de carte de professionnalisation :(</h1>
</ng-template>

<ng-template #arrayNotEmpty>
  <h1>Vos carte de professionalisation</h1>
  <div class="cards-container">
    <a class="card" *ngFor="let card of listOfCard">
      <div class="side front" [style.backgroundImage]="'url('+card.image+')'"></div>
      <div class="side back"></div>
    </a>
</div>
</ng-template>
