<div class="container">
  <div *ngIf="listOfBooster.length > 0; then arrayNotEmpty; else arrayEmpty">
  </div>

  <div *ngIf="boosterSelected !== null && checkIfUserCanBuyPack(boosterSelected) === false">
    Vous n'avez pas assez de point :(
  </div>
</div>

<ng-template #arrayEmpty>
  <h1>
    Il n'y a plus de pack disponible a l achat :(
  </h1>
</ng-template>

<ng-template #arrayNotEmpty>
  <h1>Acheter des packs</h1>
  <div class="cards-container">
    <a class="card" *ngFor="let booster of listOfBooster" (click)="getSelectedCard(booster)">
      <div class="side front" [style.backgroundImage]="'url('+booster.image+')'">{{booster.price}}</div>
      <div class="side back"></div>
    </a>
</div>
</ng-template>
