<header class="header-fixed">
	<div class="header-limiter">
		<h1><a>Quentin<span> Aubry</span></a></h1>
		<nav>
      <a (click)="changeRoute('home')">Accueil</a>
      <a class="point"> {{nbPoint}} points</a>
      <a (click)="changeRoute('buy_pack')" class="selected">Acheter des packs</a>
      <a (click)="changeRoute('earn_point')">Gagner des points</a>
			<a (click)="changeRoute('card_list')">Listes de vos cartes</a>
		</nav>
	</div>
</header>

<div class="header-fixed-placeholder"></div>

<app-home *ngIf="selectedRoute === 'home'"></app-home>
<app-buy-booster [listOfBooster]="listOfBooster" (boosterChoosed)="onBoosterSelected($event)" (pointLost)="onPointLost($event)"  [nbPoint]="nbPoint" *ngIf="selectedRoute === 'buy_pack'"></app-buy-booster>
<app-professional-card-list *ngIf="selectedRoute === 'card_list'" [listOfCard]="listOfCardEarned"></app-professional-card-list>




<app-earn-point *ngIf="selectedRoute === 'earn_point'" (point)="onPointChanged($event)"></app-earn-point>
