<div id="presentation">
  <h1>Comment jouer ?</h1>
  <h3>
    <li>
      `Acheter des packs` → Permet d'acheter des carte de personnalités avec lesquels vous pourrais apprendre a me connaitre :)
    </li>
    <br/>
    <li>
      `Listes de vos cartes` → Permet de visualiser vos cartes de professionalisation deja acquises
    </li>
    <br/>
    <li>
      `Gagner des points` → Permet de répondre a des questions sur moi pour pouvoir acheter des packs de professionalisation
    </li>
    <br/>
    <li>
      <a href="https://drive.google.com/open?id=1Mz-H8y_FrkLLFip9hh5sLxdNBc33GFDb" target="_blank">Cliquez ici</a> pour pouvoir acceder a tout mon parcours de professionalisation
    </li>
  </h3>
</div>
